#root {
  height: 100%;
}

.container {
  padding: 50px;
  margin: 0 auto;
  max-width: 100%;
  
  .version {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #111;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    font-weight: bold;
  }
}

.navbar {
  margin: 20px 0;
  .nav {
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid #111;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    
    &:not(:first-child) {
      margin-left: -1px;
    }
    
    &.active {
      background-color: #444;
      color: #fff;
    }
  }
}

.counter {
  width: 100%;
  margin: 20px auto;
  .result {
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
  }
}
